body {
    text-align: center;
    padding: 3rem 0;
}
img {
    width: 600px;
    border-radius: .3rem;
}

button {
    padding: .25rem .5rem;
    font-size: 1.5rem;
    margin-left: 1rem;
    background-color: rgb(59, 59, 179);
    border-radius: .2rem;
    border: 0;
    color: white;
    font-weight: 700;
}


div {
    margin-top: 3rem;
}

.active {
    background-color: red;
}